.info {
  position: absolute;
  top: 30px;
  left: 50px;
  height: 100px;
  width: 300px;
  &__hp-bar {
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/hp_bar.png") no-repeat;
    background-size: contain;
    height: 100px;
    width: 300px;
  }
  &__avatar {
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: 11px;
    left: 12px;
    &_girl_draenei {
      background: url("images/avatars/girl_draenei.jpg") no-repeat;
      background-size: contain;

    }
    &_girl_violet-hair {
      background: url("images/avatars/girl_violet_hair.jpg") no-repeat;
      background-size: contain;
    }
    &_girl_white-hair {
      background: url("images/avatars/girl_white_hair.jpg") no-repeat;
      background-size: contain;
    }
    &_goblin {
      background: url("images/avatars/goblin.jpg") no-repeat;
      background-size: contain;
    }
    &_man_draenei {
      background: url("images/avatars/man_draenei.png") no-repeat;
      background-size: contain;
    }
    &_troll {
      background: url("images/avatars/troll.jpg") no-repeat;
      background-size: contain;
    }
  }
}
