body {
  background: $bodyColor;
  align-items: center;
  justify-content: center;
}

.container {
  background: url("images/valsharah.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  min-width: 500px;
  position: relative;
}

.chat {
  position: absolute;
  left: 20px;
  bottom: 40px;
  width: 500px;
  height: 300px;
  &__input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: $chatInputColor;
    border: 1px solid $chatInputBorderColor;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 100;
    padding-left: 20;
  }
  &__output {
    background: $chatOutputColor;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 20px;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__message {
    padding-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    display: none;
  }
}

