body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

body {
    background: black;
    align-items: center;
    justify-content: center;
}

.container {
    background: url('valsharah.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    min-width: 1000px;
    position: relative;
}

.hp-bar {
    position: absolute;
    top: 30px;
    left: 50px;
    background: url('hp_bar.png') no-repeat;
    background-size: contain;
    height: 100px;
    width: 300px;
}

.chat {
    position: absolute;
    left: 20px;
    bottom: 40px;
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.2)
}

.chat__input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.38);
    border: 1px solid rgba(0, 0, 0, 0.6);
outline: none;
color: white;
font-size: 14px;
font-weight: 100;
padding-left: 20;
}