// Colors
$bodyColor: black;
$chatOutputColor: rgba(0, 0, 0, 0.2);
$chatInputColor: rgba(0, 0, 0, 0.38);
$chatInputBorderColor: rgba(0, 0, 0, 0.6);

// General
@import "init/init";
@import "main/info";
@import "main/main";